<div *ngIf="pet">

    <h2>{{pet.name}} </h2>
    <div class="details"><span>ID: </span>{{pet.id}}</div>
    <div class="details"><span>Species: </span>{{pet.species}}</div>
    <div class="details"><span>Age: </span>{{pet.age}}</div>
    <div class="details"><span>Color: </span>{{pet.color}}</div>
    <div class="details"><span>Coat: </span>{{pet.coat}}</div>

    <div class="details">
      <label for="pet-name">Pet Name: </label>
      <input id="pet-name" [(ngModel)]="pet.name" placeholder="name">
    </div>
  
</div>